    * {-moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; box-sizing: 
        border-box;}
        
        body { font-family: Verdana; font-size: 16px;
        }
        .website { background-color: teal; 
        text-align: center; 
    color: white;}
        header {
            background-color: #46e6cb;
            padding: 1rem 2%;
        }
        
        html { background-color: rgb(82, 82, 82);}

        html {
            line-height: 1.15;
            -webkit-text-size-adjust: 100%;
        }
        .column1 { 
            max-width: 330px;
            margin: 10px auto;
            margin-top: 30px;
            border: 1px grey solid;
            border-top: none;
            box-shadow: var(--bs);
            background-color: lightgrey;
            border-radius: .5rem;
        }
        .column2 { 
            max-width: 330px;
            margin: 10px auto;
            border: 1px grey solid;
            border-top: none;
            box-shadow: var(--bs);
            background-color: lightgrey;
            border-radius: .5rem;
        }
        .column3 { 
            max-width: 330px;
            margin: 10px auto;
            border: 1px grey solid;
            border-top: none;
            box-shadow: var(--bs);
            background-color: lightgrey;
            border-radius: .5rem;
        }
        
        h3 { 
            Text-align: center;
            font-size: 24pt;
            padding: 0;
           color:rgb(25, 70, 70);
           margin-top: 10px;
        }
        p { 
            display: block;
          
        
            text-align: left;
            padding: 1em;
            font-size: 15pt;}
        
            a {font-size: 15pt;
            margin-bottom: 10px;
        margin-top: -30px; }
        .places { align-items: center;}
        
        

        footer { 
         text-align: center;
         padding: 1rem 2%; 
         background-color: #46e6cb;
        
        }
        
        a {
            color: rgb(10, 46, 46);
            }
            a:hover {
            color: white;
            }
            
            #updated {
            color: #092b29;
            }
    
            .columnimg { padding: 1rem 2%;
            margin-top: 10px; }
    
    
        
        
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        
        }