
h1 { background-color: rgb(101, 163, 163); padding: 0.7em; border-radius: 10px;}
.indexfooter {background-color: rgb(0, 0, 0)  ; padding: 0.7em; border-radius: 10px; color: white;}
body {text-align: center;}
body {font-family: sans-serif;}
nav {line-height: 1.5rem; text-align: left; margin-left: 250px; }
nav {display: block;}
body { display: block; border-radius: 10px;}
html {margin: 1rem auto;
max-width: 850px;}
.imageofme { margin-left: 550px; 
margin-top: -150px; }
main {
font-family: 'Potta One', cursive;
font-family: 'Source Sans Pro', sans-serif;
margin: 5% auto;
border-radius: 10px;
overflow: hidden;
max-width: 938px; }
a {
color: teal;
}
a:hover {
color: #992af4;
}

#updated {
color: #094947;
}
li {
margin: 10px;
font-size: 1.2em;
list-style: none;
}
