@media only screen and (min-width: 1028px){

    header, footer, nav, main {max-width: 75rem; margin: auto;}
    
    .places {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .weathersummary {
    position: relative;
    display: table;
    width: 250px;
    right: 950px;
    top: 300px;
    height: 60px;
    background: rgba(31, 31, 33, 0.8);
    border: 5px solid black;
    padding: 10px;
    text-align: center;

    
}
    div.places {column-count: 3;}

    nav ul, nav ul.hide {margin-left: 1rem; display: flex;}


    nav ul li { flex: 1 1 100%;}
    nav ul li a {
        padding: .5rem 1rem;
        font-size: 1.0rem;
        }

    nav button {
        display: none;
    }


    main, footer {
        max-width: 64rem;
        margin: 0 auto;
    }
    
    
    } /* end of media querry*/