@media only screen and (min-width: 46em){

    .places {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .content {
        max-width: 760px;
        margin: 0 auto;
    }
    

        /*----------- HEADER --------------*/
        header img {width: 125px;}
        header h1 {font-size: 4rem;
        margin-bottom: -30px;}
        header h3 {font-size: 1.5rem;}

        /*----------- MAIN --------------*/


.forecast{
    display:block;
    
}

       /*forecast*/
  .forecast div {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    
  }
    




        /* update font size of headers to fit larger screen */
        h1 {font-size: 2rem;}
        h2 {font-size: 1.5rem;}
        h3 {font-size: 1.3rem;}


        section.forcast {
             display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr
        }

        section.forcast div{
            text-align: center;
            border: 1px solid #aaa;

        }

        section.forcast div h4 {
            background-color: #eee;
            margin: 0;
            padding: 1rem 0;
        }

 /*weathersummary*/

       .weathersummary {
            left: 10px;
            padding: 0 1%;
            font-size: 1rem;
        }

        main {
            padding: 1rem;
        }

        .upcoming {
            margin-left: 300px;
        }


        section.article div img {
            display: block;
            float: right;
            width: 400px;
            height: auto;
            margin: 0 0 0.5rem 0.5rem;
        }
        section.contactinfo {
            display: flex;
            flex-direction: row;
        }

        footer {
            clear: both;
        }
        
 /*gallery*/
 .gallery {
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
  }




  
  
#cards div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#cards div:nth-child(2) figure {
    grid-column: 2;
    grid-row: 1;
}
#cards div:nth-child(2) section {
    grid-column: 1;
}

    } /* end of media querry*/
