html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #95b8d1;
}


/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    body { font-family: 'Lato', sans-serif; 
    color: #333333;}

    h1 {font-size: 3rem; font-family: 'EB Garamond', serif;}

    h2 {font-size:1.2rem; font-family: 'EB Garamond', serif;}

    h3 {font-size:1.0rem; font-family: 'EB Garamond', serif;}



    main, footer {
        padding: 1rem;
    }

    /* Header */
    header {

        background-color: #95b8d1;
        text-align: left;
        padding: 1%;
    }


    header h1, header h2 {
        margin: 10px;
    }

    header img {
        float: left;
        width: 100px;
        margin-right: 1rem;
        border-radius: 9px;
    }

    /* nav */

    nav {background-color: #edafb8;}

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav button {
        display: block;
        margin: 0 auto;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        color: #FFFFFF;
    }

    nav ul li a {
        display: block;
        color: #333333;
        padding: .5rem 0;
        text-decoration: none;
        font-size: 0.9rem;
        font-family: Verdana, sans-serif;
        text-align: center;
    }

    nav ul li a:hover {
        background-color:  #e8ddb5;
        color: #0D153B
    }

    nav ul li.active-page a {
        background-color:#dddf64;
        color: #fff; /* removes a hover color error on text */
    }

    nav ul.hide {
        display: none;
    }

    .active {
        background-color: #d9909a;
        font-weight: var(--fw-bold);
    }


/* Main */


.weathersummary {
    display: block;
    position: absolute;
    font-family: 'PT Sans Narrow', sans-serif;
    border: 3px solid #edafb8;
    background: #e8ddb5;
    padding-left:50px;
    padding-right:50px;
    font-size: 1rem;
    margin-left: 100px;

}

/*3-day forecast*/
  .forecast div {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 20px;
  }
  .forecast div div {
    box-shadow: 0 0 10px #d9909a;
    border: 1px solid #d9909a;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    display: block;
    background-color: #edafb8;
  }
  .forecast img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .forecast span {
    margin-bottom: 0.8rem;
    margin-top: 5px;
    display: block;
  }


.forecast{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 20px;
}
.threedayforcast{
    background-color: #e8ddb5;
    margin-top: 250px;
    border: 3px solid #edafb8;
    padding-bottom: 20px;
    padding-top: -10px;
    text-align: center;
    font-size: 1rem;
    padding-left: -100px;
    padding-right: -100px;
    
}
.threedayforcast h1{
    font-size: 2rem;
}

 div h4 { color:#0D153B}

    .social {
        padding: 1rem;
    }

    .social img {
        padding: 2px;
        -webkit-box-shadow: 5px 5px 11px 1px #000000;
        box-shadow: 5px 5px 11px 1px #000000;
        align-items:center;
        background: white;
    }





cards img{
        max-width: 100px;
    }







     /* ---------- Storm Center ---------- */
     .storm-page h4 {
        padding-left: 1rem;
    }

    .right-filler {
        display: none;
    }
    #formfield, .stormregion, .dangerlevel { margin-top: 10px;}
   

    .join-grid {
        margin: 1rem auto;
        max-width: 40rem;
    }

    fieldset {
        border: 0;
        box-shadow: var(--bs);
        margin: 1rem auto;
        background-color: var(--clr-honey);
        border-radius: var(--b-radius);
    }

    fieldset legend {
        padding: 0 .5rem 0 .5rem;
        box-shadow: var(--bs);
        font-size: 1.5rem;
        padding: .5rem;
        background-color: var(--clr-dark);
        color: white;
        border-radius: var(--b-radius);
    }

    .top {
        display: block;
        padding: .8rem;
    }

    .top input, .top select {
        -webkit-appearance: none;
        display: block;
        font-size: 1rem;
        border: 0;
        border-radius: 4px;
        padding: .75rem;
        color: #555;
        width: 100%;
        max-width: 20rem;
    }

    .sbs {
        display: block;
        padding: .75rem 0;
        color: var(--clr-darker);
    }

    .sbs:active {
        color: var(--clr-darkred);
    }

    .storm-page textarea {
        width: 100%;
        height: 12rem;
    }

    .flexly {
        display: flex;
        padding-top: 1rem;
    
    }

    #ratingvalue {
        padding-left: .5rem;
        font-weight: 700;
    }

    #rating, #formfield {
        min-width: 8rem;
        width: calc(50vw - 1.25rem);
        max-width: 11.25rem;
    }
    
    .storm-page #formfield label {
        display:flex;
        flex-direction: column;
      }



    .submitBtn {
        border: none;
        background-color: #edafb8;
        color: #333333;
        font-size: 1.25rem;
        font-weight: 700;
        padding: .75rem 1.5rem;
        width: 96%;
        max-width:22rem; 
        margin-left: 25px;
        border-radius: 4px;
    }

    .submitBtn:hover {
        background-color: #e8ddb5;
        color: black;
    }

    .top input:required {
        border-left: red solid 6px;
    }
    
    .top input:required:valid {
        border-left: green solid 6px;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;

    }
